/* App.css */

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-subheader {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Content styles */
.container {
  margin-top: 2rem;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 1rem;
}

/* Footer styles */
.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.content-heading {
  font-size: 1.5rem;
}

.content-text {
  font-size: 1rem;
}
/* Content styles */
.custom-content {
  font-family: Arial, sans-serif; /* Modifikasi font */
  color: #d72929; /* Modifikasi warna teks */
}

